<h1>Add A Child:</h1>
<form action="/children" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required></p>
  </div>
  <div class="form-group">
    <label for="name">Age:</label>
    <select class="form-control" name="age">
      <% (0..26).each do |x| %>
        <option value=<%= x %>><%= x %></option>
      <% end %>
    </select>
  </div>
  <label>Who are this child's parents?</label>
  <div class="checkbox">
    <% @parents.each do |parent| %>
      <label class="checkbox-inline">
        <input type="checkbox" name="parent_ids[]" value="<%= parent.id %>"><%= parent.name %></input>
      <label class="checkbox-inline">
    <% end %>
  </div>
  <button type="submit" class="btn btn-default btn-lg">Add Child</button>
</form>
